<div id="home-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active slide first-slide" style="background-image: url(img/header1.jpg);">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Saw</h2>
                    <p>
                        Would you die to live? That's what two men, Adam (Leigh Whannell) and Gordon (Cary Elwes),
                        have to ask themselves when they're paired up in a deadly situation. Abducted by a serial
                        killer, they're trapped up in a prison constructed with such ingenuity that they may not be
                        able to escape before their captor decides it's time to dismantle their bodies in his
                        signature way. Attempting to break free may kill them, but staying definitely will.
                    </p>
                    <button data-movie-id="265727087" class="btn btn-lg btn-primary view-movie">View Now</button>
                </div>
            </div>
        </div>
        <div class="item slide second-slide" style="background-image: url(img/scrubs.jpg);">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Scrubs</h2>
                    <p></p>
                    <p>
                        <button data-tvshow-id="207114040" class="btn btn-lg btn-primary view-tvshow">View Now</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="item slide third-slide"
             style="background-image: url('http://images-cdn.moviepilot.com/image/upload/c_fill,h_1080,w_1920/t_mp_quality/arnold-celebrities-photo-arnold-schwarzenegger-hd-wallpaper-can-you-name-all-the-arnold-schwarzenegger-movies-in-this-awesome-fan-art-jpeg-126887.jpg');">
            <div class="container">
                <div class="carousel-caption">
                    <h2>Arnold Schwarzenegger</h2>
                    <p>Arnold Alois Schwarzenegger; born July 30, 1947) is an Austrian-American actor, filmmaker,
                        businessman, investor, author, philanthropist, activist, former professional bodybuilder and
                        politician. He served two terms as the 38th Governor of California from 2003 until 2011.</p>
                    <p>
                        <button data-actor-id="280385027" class="btn btn-lg btn-primary view-actor">View Now</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="watchlists-lists">
</div>
