<div class="panel panel-default">
    <div class="panel-heading"><h3>Recent Movies</h3></div>
    <div class="panel-body">
        <div class="multiple-items">
            <div><img class="img-responsive" src="img/1.jpg"></div>
            <div><img class="img-responsive" src="img/2.jpg"></div>
            <div><img class="img-responsive" src="img/3.jpg"></div>
            <div><img class="img-responsive" src="img/4.jpg"></div>
            <div><img class="img-responsive" src="img/5.jpg"></div>
            <div><img class="img-responsive" src="img/6.jpg"></div>
            <div><img class="img-responsive" src="img/7.jpg"></div>
        </div>
    </div>
</div>
